body {
  margin: 0;
  scroll-behavior: smooth !important;
  overflow-x: hidden !important;
  font-family: 'Ubuntu', sans-serif !important;
  color: white;


}

html {
  position: relative;
  min-height: 100%;
}


.inputBorders{
  border: 1px solid rgb(0, 75, 155) !important;
  
}

.imgLogo{
  width: 100px;
  border-radius: 5px;
}

.modal {
  background: white;
  border-radius: 5px;
  color: rgb(51, 51, 51);
  display: inline;
  max-height: 700px;
  max-width: 640px;
  outline: none;
  padding: 10px;
}

.modal-fondo {
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
}

.cardProduct{
  width: 250px;
  height: 350px;
  border: 1px solid #ecf019;
}
.cardProduct:hover{
  
 
  cursor: pointer;
}

 /* efecto menu de navegacion  */
.efectoLista{
  position: relative;
  letter-spacing: 0.5px;
  padding: 0 10px;
  margin: 10px;
  color: #000000 !important;
}
.efectoLista:hover{
  color: #4f4f4f !important;
}

.efectoLista:after{
   content: "";
   position: absolute;
   background-color: #ecf019;
   height: 3px;
   width: 0;
   left: 0;
   bottom: 0px;
   transition: 0.4s;
}

.efectoLista:hover:after{
  width: 100%;
}

.iconoCart:hover{
  color: #ecf019 !important;
  cursor: pointer;
}

.imageCart{
  width: 56px;
}


.buttonRoundedCart{
  border-radius: 20px !important;
}

.btn-light{
  background-color: #6B35FF !important;
}
.btn-light:hover{
  background-color: #8A60FF !important;
}

.loginCard{
  border: 1px solid #6B35FF !important;
}


.authloader {
  display: flex;
  margin-top: 20% !important;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


/* Loader */
.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  border: 4.5px solid #0000;
  border-radius: 50%;
  border-color: #dbdcef #0000;
  animation: spinner-e04l1k 1s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2.2px;
  border: inherit;
  border-radius: 50%;
}

.spinner::before {
  border-color: #ddff00 #0000;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}

.spinner::after {
  margin: 8.9px;
}

@keyframes spinner-e04l1k {
  100% {
    transform: rotate(1turn);
  }
}

.cartHover:hover{
  color: rgb(42, 160, 42) !important;
}


.deleteBullet{
  text-decoration: none;
  list-style-type: none;
}

.imagenAt{
  width: 40px;
  border: 1px solid rgba(255, 0, 0, 0.44);
}

.misComprasCard{
  border: 1px solid  #8A60FF !important ;
}

.textMarquee{
  color: #8A60FF !important;
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(255, 255, 255) !important;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #8A60FF;    /* color of the scroll thumb */
  border-radius: 10px;       /* roundness of the scroll thumb */
  /* border: 1px solid rgb(0, 0, 0);  creates padding around scroll thumb */
}

.floating-button{
  position: fixed !important; 
  bottom: 30px; /* Ajusta la distancia desde la parte inferior según sea necesario */
  right: 0px; /* Ajusta la distancia desde la derecha según sea necesario */
  color: #fff; /* Color del texto del botón */
  padding: 10px 20px; /* Ajusta el relleno del botón según sea necesario */
  border: none; /* Quita el borde del botón si lo deseas */
  border-radius: 15px !important; /* Ajusta la esquina del botón según sea necesario */
  cursor: pointer; /* Cambia el cursor al pasar el ratón sobre el botón */
  /* Otros estilos del botón, como transiciones, sombras, etc., según sea necesario */
  z-index: 999;
}


.imgLogoFooter{
  width: 40px;
}





